---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="漫画一覧">
  <div id="manga-list-container">
    <!-- 漫画フォルダ一覧を表示する場所 -->
  </div>
  <div class="pagination" id="pagination"></div>

  <footer class="mangalist-footer">
    <div class="footer-info">
      <span id="manga-count">0件の漫画</span>
    </div>
  </footer>
</MainLayout>

<script>
  import "../scripts/mangaList";
</script>
<style is:global>
  @import "../styles/mangaList.css";
</style>
