<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ビュワー</title>
  </head>
  <body>
    <header id="header">
      <button id="back-button">一覧に戻る</button>
    </header>
    <div id="viewer-container">
      <div id="loading" class="loading">読み込み中...</div>
      <img id="comic-page" src="" alt="Manga Page" />
    </div>
    <style is:global>
      @import "../styles/viewer.css";
    </style>
    <script>
      import "../scripts/viewer";
    </script>
  </body>
</html>
