---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | コミックビューアー</title>
  </head>
  <body>
    <header id="global-header">
      <div id="global-header-left">
        <div class="header-logo">
          <a href="/">📚 Comic Viewer</a>
        </div>
        <nav>
          <ul>
            <li><a href="/mangaList">マンガ一覧</a></li>
            <li><a href="/tagList">タグ一覧</a></li>
          </ul>
        </nav>
      </div>
      <div id="global-header-right">
        <nav>
          <ul>
            <li><a href="/upload">アップロード</a></li>
            <li><a href="/settings">設定</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <slot />
    </main>

    <style is:global>
      @import "../styles/mainLayout.css";
    </style>
  </body>
</html>
