---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | コミックビューアー</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <header id="global-header">
      <div id="global-header-left">
        <div class="header-logo">
          <a href="/">📚 Comic Viewer</a>
        </div>
        <nav>
          <ul>
            <li><a href="/mangaList"><span class="material-symbols-rounded">shelves</span>マンガ</a></li>
            <li><a href="/tagList"><span class="material-symbols-rounded">label</span>タグ</a></li>
          </ul>
        </nav>
      </div>
      <div id="global-header-right">
        <nav>
          <ul>
            <li><a href="/upload"><span class="material-symbols-rounded">upload</span>アップロード</a></li>
            <li><a href="/settings"><span class="material-symbols-rounded">settings</span>設定</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <slot />
    </main>

    <style is:global>
      @import "../styles/mainLayout.css";
    </style>
  </body>
</html>
