---
  const params = Astro.url.searchParams;
---
<search>
  <form class="search-box">
    <input type="search" placeholder="検索" id="search-input"/>
    <button type="submit" id="search-box-button"><span class="material-symbols-rounded">search</span></button>
  </form>
</search>